@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@600&family=Raleway:wght@400;600&display=swap');

$font-header: Poppins;
$font-tarefas: Raleway;
$color-text-blue: #0C70F2;
$color-text-white: #FFFFFF;
$color-text-black: #000000;
$background-main: #2D2D2D;
$background-white: #FFFFFF;
$background-blue: #0C70F2;

